workflow.json
{
  "name": "Test 12",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "register-vehicle",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        0
      ],
      "id": "69ef32d1-6393-4dec-b429-2dde5c5cd532",
      "name": "Webhook",
      "webhookId": "887c80f9-f1f4-4927-b43a-55f49bfb3db3"
    },
    {
      "parameters": {
        "url": "https://api.openrouteservice.org/v2/directions/driving-car",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjdjNjVjN2Q3NWM1YzQ1MzI5NmNmNmRjMzc1MTBkN2E2IiwiaCI6Im11cm11cjY0In0="
            },
            {
              "name": "start",
              "value": "={{ $json.start }}"
            },
            {
              "name": "end",
              "value": "={{ $json.end }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        48,
        0
      ],
      "id": "3f840257-9fce-4935-aa8a-745f1c6aae92",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Central Dhaka coordinates bounds\nconst latMin = 23.7200;\nconst latMax = 23.7900;\nconst lonMin = 90.3700;\nconst lonMax = 90.4300;\n\nfunction getRandom(min, max) {\n  return (Math.random() * (max - min) + min).toFixed(6);\n}\n\n// Generate random starts and ends\nconst startLon = getRandom(lonMin, lonMax);\nconst startLat = getRandom(latMin, latMax);\nconst endLon = getRandom(lonMin, lonMax);\nconst endLat = getRandom(latMin, latMax);\n\n// Pass vehicle info from webhook along with new coordinates\nreturn [{\n  json: {\n    name: $('Webhook').item.json.body.name || \"Test Vehicle\",\n    type: $('Webhook').item.json.body.type || \"car\",\n    start: `${startLon},${startLat}`,\n    end: `${endLon},${endLat}`\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        0
      ],
      "id": "df1d618c-9edf-4162-9959-d7c80e405eb8",
      "name": "Code"
    },
    {
      "parameters": {
        "tableId": "vehicles",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Code').item.json.name }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ $('Code').item.json.type }}"
            },
            {
              "fieldId": "latitude",
              "fieldValue": "={{ JSON.parse($('HTTP Request').item.json.data).features[0].geometry.coordinates[0][1] }}"
            },
            {
              "fieldId": "longitude",
              "fieldValue": "={{ JSON.parse($('HTTP Request').item.json.data).features[0].geometry.coordinates[0][0] }}"
            },
            {
              "fieldId": "route_geometry",
              "fieldValue": "={{ JSON.stringify(JSON.parse($('HTTP Request').item.json.data).features[0].geometry.coordinates) }}"
            },
            {
              "fieldId": "current_index",
              "fieldValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        160,
        0
      ],
      "id": "b927092e-16fa-471f-a468-77a0d43c65d8",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "Whg6RC6GeEVC5bU6",
          "name": "Supabase account testruns"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -272,
        176
      ],
      "id": "6270786d-f779-41b5-b453-b86757b8846c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "vehicles",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -144,
        176
      ],
      "id": "66a47b45-7119-4579-84aa-75273f97ed1a",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "Whg6RC6GeEVC5bU6",
          "name": "Supabase account testruns"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const updatedVehicles = [];\n\nfor (const item of $input.all()) {\n  const vehicle = item.json;\n  \n  let coordinates = [];\n  try {\n    coordinates = typeof vehicle.route_geometry === 'string' \n      ? JSON.parse(vehicle.route_geometry) \n      : vehicle.route_geometry;\n  } catch (e) {\n    continue; \n  }\n\n  if (!coordinates || coordinates.length === 0) continue;\n\n  // Advance index by 1, stop at the final destination point\n  let nextIndex = (vehicle.current_index || 0) + 1;\n  if (nextIndex >= coordinates.length) {\n    nextIndex = coordinates.length - 1; \n  }\n\n  // OpenRouteService gives coordinates as [longitude, latitude]\n  const [nextLon, nextLat] = coordinates[nextIndex];\n\n  updatedVehicles.push({\n    json: {\n      id: vehicle.id,\n      current_index: nextIndex,\n      latitude: nextLat,\n      longitude: nextLon\n    }\n  });\n}\n\nreturn updatedVehicles;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        176
      ],
      "id": "6522bf46-a099-4323-8abc-15067b7b05a9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "vehicles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "latitude",
              "fieldValue": "={{ $json.latitude }}"
            },
            {
              "fieldId": "longitude",
              "fieldValue": "={{ $json.longitude }}"
            },
            {
              "fieldId": "current_index",
              "fieldValue": "={{ $json.current_index }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        128,
        176
      ],
      "id": "8932a056-8ebb-4c9c-93cc-e1ae7078a0f2",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "Whg6RC6GeEVC5bU6",
          "name": "Supabase account testruns"
        }
      }
    },
    {
      "parameters": {
        "path": "get-vehicles",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        336
      ],
      "id": "4ddbb4e4-7c4b-455d-983a-f76dc677d57a",
      "name": "Webhook1",
      "webhookId": "887c80f9-f1f4-4927-b43a-55f49bfb3db3"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "vehicles",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -112,
        336
      ],
      "id": "81f4011b-e64f-415f-b099-da54742a9dd3",
      "name": "Get many rows1",
      "credentials": {
        "supabaseApi": {
          "id": "Whg6RC6GeEVC5bU6",
          "name": "Supabase account testruns"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d9676d8f-3dc9-4029-a74c-fd854ff43dd7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b8fea9d8d1cf13a46d2b8f44184de75d7b23c5be4c7c6845643b00e04828acd"
  },
  "id": "BmGz6DXWzPgSJRp8",
  "tags": []
}